# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/

# Build files
dist/
build/

# Coverage
coverage/

# Helm
*.tgz

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars

# Kubernetes
*.swp

# Misc
Thumbs.db